/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Class titles */
h1 {
    color: #2a9d8f;
    margin: 20px;
    text-align: center;
}

/* Tutors and Resouces headers */
h2, h3 {
    color: #2a9d8f;
    margin: 10px;
	margin-bottom: 5px;
}

/* Introduction message*/
p {
    margin: 20px;
}

/* Get rid of underlines for links */
a {
    text-decoration: none;
}

/* Except when hovered over */
a:hover {
    text-decoration: underline;
}

/* Tutor (and resources) lists */
ul {
    padding: 0;
    margin: 20px;
	margin-top: 3px;
}

/* Blue background when moused over */
ul li:hover {
    background: #e3f2fd;
}

/* Links and navigation */
a[href="index.html"] {
    display: block;
    margin: 20px auto;
    width: max-content;
    padding: 10px 20px;
    background: #2a9d8f;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

a[href="index.html"]:hover {
    background: #1f7768;
}
